@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf");
}

body {
    margin: 0;
    padding-left: 32px;
    padding-right: 32px;
}

.header {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__logo {
    width: 60%;
}

.header__navigation {
    display: flex;
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.header__sub {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 8px;
}

.header__nav {
    color: var(--text-main, #212529);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Roboto";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.header__telText {
    color: var(--text-main, #212529);
    font-feature-settings: 'clig' off, 'liga' off;
    /* text/large */
    font-family: "Roboto";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.heroGlav {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heroGlav__text {
    width: 50%;
}

.heroGlav__ogl {
    color: var(--text-main, #212529);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 86.4px */
    text-transform: uppercase;
    font-size: 72px;
}

.heroGlav__zak {
    display: flex;
    align-items: end;
    justify-content: end;
}

.heroGlav__project {
    color: var(--text-main, #212529);
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: "Roboto";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero {
    padding-top: 40px;
    display: flex;
    column-gap: 10%;
}

.hero__colum1 {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.hero__block1 {
    height: 809px;
    max-width: 445px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero__text {
    color: var(--text-main, #212529);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 28px */
}

.hero__colum2 {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.hero__imgSmall {
    width: 329px;
    height: 493px;
}

.hero__block2 {
    height: 809px;
}

.hero__imgBig {
    width: 100%;
    height: 100%;
}

.hero__opis {
    padding-top: 120px;
    max-width: 562px;
    max-height: 982px;
}

.hero__textOpis {
    color: var(--text-main, #212529);
    font-feature-settings: 'clig' off, 'liga' off;

    /* title/h2 */
    font-family: Helvetica;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero__textLegasi {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 44px;
    padding-top: 150px;
}

.hero__ps {
    display: flex;
    flex-direction: column;
    max-width: 446px;
}

.hero__p {
    color: var(--text-main, #212529);
    font-feature-settings: 'clig' off, 'liga' off;

    /* text/normal */
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
}

.hero__punts {
    display: flex;
    flex-direction: column;
    max-width: 146px;
    row-gap: 24px;
    max-height: 982px;
}

.hero__opisH {
    color: var(--text-main, #212529);
    font-feature-settings: 'clig' off, 'liga' off;

    /* title/h3 */
    font-family: Helvetica;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero__opisP {
    color: var(--text-main, #212529);
    font-feature-settings: 'clig' off, 'liga' off;

    /* text/normal */
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
}

.myJobs {
    display: flex;
    flex-direction: row;
    gap: 10%;
    padding-top: 120px;
}

.myJobs__column1 {
    width: 45%;
}

.myJobs__opis {
    max-width: 562px;
}

.myJobs__column2 {
    width: 45%;
    padding-top: 22px;
}

.myJobs_ps {
    width: 50%;
}

.myJobs__p {
    color: var(--text-main, #212529);
    font-feature-settings: 'clig' off, 'liga' off;

    /* text/normal */
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
}

.myJobs__tabl {
    padding-top: 44px;
    display: flex;
    flex-direction: column;
    gap: 24px
}

.myJobs__spacer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.myJobs__panel {
    display: flex;
    flex-direction: row;
    gap: 10%
}

.myJobs__hs {
    width: 45%;
}

.myJobs__ps {
    max-width: 45%;
}

.myJobs__h {
    color: var(--text-main, #212529);
    font-feature-settings: 'clig' off, 'liga' off;

    /* title/h3 */
    font-family: Helvetica;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.spacer {
    height: 1px;
    background-color: #000000;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.product__h {
    color: var(--text-main, #212529);
    font-feature-settings: 'clig' off, 'liga' off;

    /* title/h2 */
    font-family: Helvetica;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product__image {
    position: relative;
}

.product__opis {
    position: absolute;
    bottom: 0px;
    width: 445px;
    height: 66px;
    background: rgba(33, 37, 41, 0.50);
}

.product__opisBlock {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 22px;
    padding-bottom: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product__text {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;

    /* text/normal */
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
    text-decoration: none;
}

.product__a {
    line-height: 140%;
}

.Reviews {
    padding-top: 120px;
}

.Reviews__h {
    color: var(--text-main, #212529);
    font-feature-settings: 'clig' off, 'liga' off;

    /* title/h2 */
    font-family: Helvetica;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Reviews__block {
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    max-width: 445px;
}

.Reviews__i {
    padding-top: 40px;
}

.Reviews__img {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.Reviews__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
}

.Reviews__hed {
    color: var(--text-main, #212529);
    font-feature-settings: 'clig' off, 'liga' off;

    /* text/large bold */
    font-family: Helvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Reviews__textB {
    color: var(--text-main, #212529);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* text/normal */
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
}

.feedback {
    padding-top: 120px;
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.feedback__img {
    width: 45%;
}

.feedback__i {
    width: 100%;
    height: auto;
}

.feedback__block {
    width: 45%;
}

.feedback__blockText {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.feedback__h {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;

    /* title/h2 */
    font-family: Helvetica;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.feedback__p {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;

    /* text/normal */
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
}

.feedback__input {
    display: flex;
    width: 80%;
    height: 31px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    flex-shrink: 0;
    border: 0;
    color: var(--text-main, #212529);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.feedback__input:focus {
    outline: none;
}

.feedback__pul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.feedback__butBlock {
    padding-top: 24px;
}

.feedback__button {
    width: 176px;
    height: 46px;
    background: var(--text-main, #212529);
    color: var(--bg-white, #FFF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* text/normal */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
}

.feedback__spacer {
    height: 1px;
    background-color: #000000;
    width: 80%;
}

.feedback__url {
    padding-top: 40px;
}

.footer {
    padding-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.footer__block2 {
    display: flex;
    gap: 40px;
}

.footer__a {
    text-decoration: none;
    color: var(--text-main, #212529);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Roboto";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.footer__block1 {
    color: var(--text-main, #212529);
    font-feature-settings: 'clig' off, 'liga' off;

    /* text/normal */
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
}

.footer__block {
    color: var(--text-main, #212529);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Roboto";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.header__burger {
    display: none;
}

.heroGlav__block1 {
    display: none;
}

.myJobs__opis1 {
    display: none;
}

.footerTel {
    display: none;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.product__tel{
    display: none;
}

.product__scroll {
    display: flex;
    gap: 20px;
    overflow: scroll;
    height: 100%;
}

@media screen and (max-width:1100px) {
    .header__navigation {
        display: none;
    }

    .header__burger {
        display: block;
    }

    .heroGlav {
        flex-direction: column;
        gap: 25px;
    }

    .heroGlav__zak {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .heroGlav__block1 {
        display: block;
    }

    .hero__colum1 {
        display: none;
    }

    .hero__colum2 {
        width: 100%;
    }

    .hero__textLegasi {
        padding-top: 48px;
    }

    .hero__ps {
        gap: 20px;
    }

    .myJobs__column1 {
        display: none;
    }

    .myJobs {
        padding-top: 48px;
    }

    .myJobs__opis1 {
        display: block;
    }

    .myJobs__column2 {
        width: 100%;
    }

    .footer {
        display: none;
    }

    .feedback__img {
        display: none;
    }

    .feedback__block {
        width: 100%;
    }

    .footerTel {
        display: flex;
    }

    .footerTel__p {
        color: var(--text-main, #212529);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: "Roboto";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 22.4px */
        text-align: center;
    }
    .product__tel{
        display: block;
    }
    .product_block{
        display: none;
    }
}